## Separar dataset en train y test

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

df = pd.read_csv('../Dataset/dataset_normalizado_mosaico.csv')

df.head()

,bedrooms,bathrooms,area,zipcode,price,bathroom_image,bedroom_image,kitchen_image,frontal_image,imagen_mosaico
0,0.536137,1.341651,1.378536,-0.795699,869500,1_bathroom.jpg,1_bedroom.jpg,1_kitchen.jpg,1_frontal.jpg,1
1,0.536137,0.336704,0.798734,-7.640277,865200,2_bathroom.jpg,2_bedroom.jpg,2_kitchen.jpg,2_frontal.jpg,2
2,-0.325224,1.341651,1.272375,-0.794159,889000,3_bathroom.jpg,3_bedroom.jpg,3_kitchen.jpg,3_frontal.jpg,3
3,1.397499,2.346599,1.353220,-0.794719,910000,4_bathroom.jpg,4_bedroom.jpg,4_kitchen.jpg,4_frontal.jpg,4
4,-0.325224,1.341651,1.429983,-0.794159,971226,5_bathroom.jpg,5_bedroom.jpg,5_kitchen.jpg,5_frontal.jpg,5

In [26]:
# Separar dataset en entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(df[['bedrooms','bathrooms','area', 'zipcode', 'imagen_mosaico']].values, df['price'].values, test_size=0.2, random_state=42)

2.346598601447901